@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Project.Models;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    @{
        var FRazor = "cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/…";
    }
    <script src=@FRazor integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>
<body class=".bg-light.bg-gradient min-vh-100">
    <div class="container">
        <div class="d-flex flex-warp align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
            <a href="/home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img src="Resource/hoadepcom-logos.jpeg" class="bi me-2" width="45" height="45">
            </a>
            <form action="/product/search" method="get" class="input-group col-md-auto col-12 justify-content-center mb-2 mb-md-0 col-md-6 flex-fill">
                <input type="text" name='productName' value="@ViewBag.ProductSearched" class="form-control" placeholder="Tìm kiếm sản phẩm tại đây">
                <button type="submit" class="input-group-append btn btn-outline-secondary">
                    Tìm kiếm
                </button>
            </form>
            <div class="px-3 col-md-3 text-end d-flex justify-content-around">
                @if (ViewBag.User == null) {
                    <!--login-->
                    <a class="text-decoration-none text-dark" href="/login">Đăng nhập</a>
                    <!--register-->
                    <a class="text-decoration-none text-dark" href="/register">Đăng kí</a>
                    <!--Shopping list-->
                    <a class="text-decoration-none text-dark" href="/login">Giỏ hàng</a>
                }
                else {
                    <!--login-->
                    <a class="text-decoration-none text-dark" href="/customer/info/@ViewBag.User">Xin chào @((string)ViewBag.User)</a>
                    <!--register-->
                    <a class="text-decoration-none text-dark" href="/logout">Thoát</a>
                    <!--Shopping list-->
                    <a class="text-decoration-none text-dark" href="/cart/info">Giỏ hàng</a>
                }
            </div>
        </div>

        <nav class="navbar navbar-expand-md sticky-top pt-0 row text-decoration-none w-100">
            <ul class="navbar-nav row text-decoration-none w-100">
                <li class="nav-item col-md-3 text-center dropdown">
                    <a role="button" data-bs-toggle="dropdown" class="nav-link dropdown-toggle" id="navbarDropdown" href="#">Danh mục sản phẩm</a>
                    <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
                        @foreach (var cate in (List<Category>)ViewBag.CateList) {
                            <a class="dropdown-item text-center" href="/Category/GetProducts/@cate.CategoryId">@cate.CategoryName</a>
                        }
                    </div>
                </li>

                <li class="nav-item col-md-3 text-center">
                    <a class="nav-link" href="/home">Trang chủ</a>
                </li>
                <li class="nav-item col-md-3 text-center">
                    <a class="nav-link" href="">Giới thiệu</a>
                </li>
                <li class="nav-item col-md-3 text-center">
                    <a class="nav-link" href="">Liên hệ</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container" style="margin: 35px">
        <br>
    </div>
    <div class="container">
        <!--content-->
        <h1 style="text-align: center">Giỏ hàng</h1>
        @{
            if (ViewBag.CartList != null) {
                <table class="table">
                    <tr>
                        <th>ProductName</th>
                        <th>Quantity</th>
                        <th>QuantityPerUnit</th>
                        <th>UnitPrice</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    @foreach (var i in ViewBag.CartList) {
                        <tr>
                            <td>@i.ProductName</td>
                            <td>@i.Quantity</td>
                            <td>@i.QuantityPerUnit</td>
                            <td>@i.UnitPrice</td>
                            <td>@(i.UnitPrice * i.Quantity)</td>
                            <td><a href="/cart/delete/@i.ProductId">Delete</a></td>
                        </tr>
                    }
                </table>
            }
            else {
                <br />
                <h4 style="text-align:center">Giỏ hàng đang trống ...</h4>
            }
        }
    </div>

    <div style="margin-top: 10px">
        <br>
    </div>

    <footer class="py-5 bg-dark mt-3 w-100 fixed-bottom">
        <h5 class="text-center text-light">Copyright by Hong Viet Bui</h5>
    </footer>
</body>
</html>
